<div class="brand-colors"> </div>
<div class="head_panel">
  <div style="background-image: url(http://www.z3live.com/wp-content/uploads/2015/03/articles-banner.jpg)" class="full_width_photo   ">


    <div class="hgroup">

      <div class="title  skincolored_section transparent_film text-left">
        <div class="container">
          <h1>HEDIS® and Performance Measurement</h1>
        </div>
      </div>

      <div class="subtitle  secondary_section transparent_film text-left">
        <div class="container">
          <p>Words from our experts</p>
        </div>
      </div>

    </div>


  </div>
</div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->
  <section class="sidebar_on " ><div class="container"><div class="row">
    <!--   START >> ========================= MAIN COLUMN ========================  -->
    <div class="col-sm-12 col-md-12 main_col ">  <div class="post-grid classic">
      <div class="row">



        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
                 </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> March 08, 2016</span><a href="#" title="View all posts in category: Motivation"><span class="post_info post_categories">HEDIS</span></a></div>              </div>
            <p>
            <br><br>  With a lot of technological advancements within the last decade, the change in healthcare industry has become very rapid and the demands and requirements to keep up with this pace is also increasing. Now a days there is so much diversity and options available in healthcare industry that a need to measure or compare health care plans is very much necessary and it has become possible due to HEDIS.
              <br><br>  HEDIS stands for Healthcare Effectiveness Data and Information Set. It is developed as a tool which is so effective that it has been used by more than 90 percent healthcare plans in America.
              <br><br>HEDIS was first introduced in 1980s and after few years it was entrusted to NCQA and now HEDIS is NCQA’s accreditation component. Through the years i.e. from early 90s to 2007, different versions of HEDIS have been introduced by NCQA but in 2007 NCQA declared its name which is currently in use and defines its role well and it is now a registered trademark of NCQA which stands for national committee for quality assurance.
              <br><br> HEDIS has 81 measures in 5 different domains. These domains are:
              <br>   1.	Utilization and Relative Resource Use
              <br>  2.	Access/Availability of Care
              <br>  3.	Experience of Care
              <br>  4.	Effectiveness of Care
              <br>  5.	Health Plan Descriptive Information
              <br><br>  Each year NCQA introduces a new version of HEDIS which contains certain changes in its measures. In order to develop HEDIS measures multiple steps are being involved. This process to form measures consider the attributes of being feasible, reliable and validate able.  By developing new measures of HEDIS this thing is kept in mind that it’s desirable or not e.g. whether developing a new measure or use an existing one defining what makes a measure desirable is very important. Desirable might seem a very wishful word but it’s really necessary because the measure should serve at its best. While developing measure it is considered that how relevant it is e.g. will the measure can contribute in quality improvement? Measure has to be scientifically strong and it has to be affordable both in terms of its cost and usage i.e. it’s easy to use. From the development to the retirement of a measure it has a life cycle. The latest version is HEDIS 2016.

              <br><br>  HEDIS also supports or compatible with the ECDS (Electronic Clinical Data System). ECDS is a way of reporting which focuses on collaborative system of care and it has also been shown in the diagram below.

              <br><br>  Another important aspect here is that in electronic data system the role of EHR (Electronic Health Records) is very significant.
              <br><br>  HEDIS has also faced criticism as in its early phase of development it was described as a controversial. Other criticisms included that: but not limited to:
              <br>   •	HEDIS measures do not account for many important aspects of health care quality
              <br>   •	Attempts by health care providers to improve their HEDIS measures may cause harm to patients
              <br>  •	The process to develop HEDIS measures may be flawed
              <br>  •	In some cases, attainment of HEDIS measures is not proven to be associated with better health outcomes

              <br><br>  HEDIS measures address a broad range of important health issues. Among them are the following:
              Asthma Medication Use, Persistence of Beta-Blocker Treatment after a Heart Attack, Controlling High Blood Pressure, Comprehensive Diabetes Care, Breast Cancer Screening, Antidepressant Medication Management, Childhood and Adolescent Immunization Status, Childhood and Adult Weight/BMI Assessment.
              Since the switching of ICD-9 to ICD-10 NCQA created a plan to identify an effective and suitable set of ICD-10 codes for each HEDIS measure.
              NCQA has expanded the possibility of HEDIS from a thin collection of process measures to a broad set that measures a range of important health care interventions and results. The existing HEDIS set addresses preventive services, chronic disease management, behavioral health care, appropriateness/overuse of services and value. HEDIS includes measures for high-burden diseases such as diabetes, asthma, heart disease and depression, as well as preventable hospitalizations and patient satisfaction.

              <br><br>  By HEDIS health system put great emphasis on the HMO’s to increase the incentive for the doctors if they comply with the measures of HEDIS and through this the medical facilities take better care of their patients which improve the overall health quality of the patients.
              Through this the healthcare system demands that the health problems in the population should be minimized if not eliminated and the coverage for the health care.


            </p>

          </article>
        </div>





      </div>
    </div>
      <!-- Start >>> Posts Pagination  -->

      <!-- End <<< Posts Pagination  -->
    </div>
    <!--    << END ========================= MAIN COLUMN ========================  -->
  </div></div></section>
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p>HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span> (212) 470-1500</span></p>
            <p class='contact_detail'><i class='fa fa-fax'></i><span> (718) 427-9907</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@hqanalytics.net'> info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>

          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="/article_1" class="media-photo" style="background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR7mkNOcwh45nRVkm53MCvLDcaPeR0s05n3_JNmsRygVzxKgLvw')"></a>
                <h5 class="media-heading">
                  <a href="/article_1">PATIENT ELIGIBILITY VERIFICATION</a>
                  <small>JUNE 03</small>
                </h5>

                <p>Patient eligibility verification involves confirming that...</p>
              </li>
              <li class="media">
                <a href="/article_2" class="media-photo" style="background-image:url('http://censeo.blob.core.windows.net/assets/standard/PAGE/732/large/Got%20gaps.jpg')"></a>
                <h5 class="media-heading">
                  <a href="/article_2">HEDIS® and Performance Measurement</a>
                  <small>JUNE 03</small>
                </h5>

                <p>With a lot of technological advancements within the...</p>
              </li>
              <li class="media">
                <a href="/article_3" class="media-photo" style="background-image:url('http://www.uscellular.com/uscellular/images/myaccount/myacctIcon1b.png')"></a>
                <h5 class="media-heading">
                  <a href="/article_3">Some Methods to Increase Bills’ Collection from Patients</a>
                  <small>JUNE 03</small>
                </h5>
                <p>These are few plans designed to get these outstanding amounts...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
    h._hjSettings = {hjid: 84643, hjsv: 5};
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script');
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78363625-1', 'auto');
  ga('send', 'pageview');

</script>



<script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {
    "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
    "recaptchaEmpty": "Please verify that you are not a robot.",
    "sending": "Sending ...",
    "cached": "1"
  };
  /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var themeConfig = {
    "NEWSLETTERS": {
      "messages": {
        "successMessage": "SUCCESS",
        "errorMessage": "ERROR",
        "required": "This field is required.",
        "remote": "Please fix this field.",
        "url": "Please enter a valid URL.",
        "date": "Please enter a valid date.",
        "dateISO": "Please enter a valid date ( ISO ).",
        "number": "Please enter a valid number.",
        "digits": "Please enter only digits.",
        "creditcard": "Please enter a valid credit card number.",
        "equalTo": "Please enter the same value again.",
        "name": "Please specify your name",
        "email": {
          "required": "We need your email address to contact you",
          "email": "Your email address must be in the format of name@domain.com"
        }
      }
    },
    "PARTICLES": {
      "enable": true,
      "color": "#bcbcbc",
      "opacity": 0.8,
      "bgColor": "transparent",
      "bgColorDark": "transparent",
      "colorParallax": "#4D83C9",
      "bgColorParallax": "transparent"
    },
    "GENERAL": {"onePagerScrollSpeed": 300}
  };
  /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
  $(document).ready(function () {
    jQuery(function ($) {
      "use strict";
      var $owl = $("#head_panel_slider");
      $owl.owlCarousel({
        items: 1,
        autoplay: _p.checkBool(1),
        autoplayTimeout: 3000,
        autoplaySpeed: 4000,
        autoplayHoverPause: _p.checkBool(1),
        nav: _p.checkBool(1),
        dots: _p.checkBool(1),
        loop: _p.checkBool(1),
        mousedrag: _p.checkBool(1),
        touchdrag: _p.checkBool(1),
        lazyload: _p.checkBool(1),
        rtl: _p.checkBool(),
      });
      var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
      $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
      $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      $owl.on("translated.owl.carousel", function (event) {
        $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
        $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      })
    });
  });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->