<div class="brand-colors"></div>
<div class="head_panel">
  <div style="background-image: url(http://www.z3live.com/wp-content/uploads/2015/03/articles-banner.jpg)" class="full_width_photo   ">


    <div class="hgroup">

      <div class="title  skincolored_section transparent_film text-left">
        <div class="container">
          <h1>Some Methods to Increase Bill's Collection from Patients:</h1>
        </div>
      </div>

      <div class="subtitle  secondary_section transparent_film text-left">
        <div class="container">
          <p>Make sure you get which you worked for.</p>
        </div>
      </div>

    </div>


  </div>
</div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->
  <section class="sidebar_on ">
    <div class="container">
      <div class="row">
        <!--   START >> ========================= MAIN COLUMN ========================  -->
        <div class="col-sm-12 col-md-12 main_col ">
          <div class="post-grid classic">
            <div class="row">
              <div class="col-md-12">
                <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
                  <div class="post_headings">
                  </div>
                  <div class="post_figure_and_info">
                    <div class="post_sub">
                      <span class="post_info post_date"><i class="fa fa-calendar"></i> April 26, 2016</span><span class="post_info post_categories">Medical Coding</span><span class="post_info post_categories">Accounts Receivable</span><span class="post_info post_categories">Medical Billing</span>
                    </div>
                  </div>
                  <p>
                    <br><br> These are few plans designed to get these outstanding amounts off from books.
                    <br><br> <b> 1. Educate (re-educate) effectively your front office employees:</b> Firstly train your
                    front-work area employees about checking the client’s record regarding the balances. It is very
                    powerful to make your client’s recalled about their unpaid balances if any before they get any
                    administration by you on that particular day. As clients want to get checked they will normally pay
                    a portion of their whole bill so that they can remain in the good books of the doctors. An aspect of
                    this education includes about how to ask for any dues which are on client’s end. If you ask this
                    question the answers could be yes or no and it is very easy for the clients to say no if you ask
                    them in an inappropriate way. e.g.: if the question being asked in an interrogative tone or will you
                    pay your dues this time then you are yourself giving the client a clue to say no. You can rather put
                    a question. How would you like to pay your bill today? It tells that the question should be open
                    ended rather than closed ended.
                    <br><br>
                    <b> 2. Conduct meetings consistently with your relevant employees to get an update about the A/R
                      Status:</b> There is software through which A/R can be assessed in multiple ways. You can easily
                    check the amount which needs to be collected on client’s end. Once the workers get the knowledge
                    they can work efficiently and comfortably on such accounts. It has been seen that if you work
                    actively even on smaller amounts the A/R could be reduced magically.
                    <br><br> <b> 3. Be kind to your struggling clients:</b> it could serve as a very intelligent move.
                    You can help your patients who are really needy and cannot afford much. There are some clients who
                    don’t want to disturb you by not paying but die to their financial conditions they cannot afford so
                    in these cases you can develop a payment plan. As long as they fulfill their plan commitments you
                    can provide them services, at least you are adding something in your account to decrease the A/R.
                    <br><br> <b> 4. Be tough with other patients:</b> This refers to those patients who are not willing
                    to pay and it has been seen that there are people who have a lot of outstanding amounts on their
                    account and they keep coming back to visit the doctors’ offices. You should be strict to those
                    patients and intimate them through proper official letters about the results of their outstanding
                    bills. It has been observed that notices comprising termination of services often get the attention
                    of such clients. It is further noticed that usually you get very small amount on the large
                    substantial bills but still you get the outstanding amounts off from your records. Sometimes the A/R
                    are in such amounts that the cases need to be sent to recovery agencies and some clients
                    surprisingly pay their full outstanding amount to you instead of paying it to recovery agencies. Now
                    it’s also a matter of decision making that whether you want to continue with such clients or not. It
                    is sometimes advisable to terminate relationships with such patients.
                    <br><br> <b> 5. Get the doctors involved as a last resort:</b> Most of the physicians are reluctant
                    to involve in the financial matters with their clients, but if the doctor gets involved then it is
                    very much possible that the things get eased out. The patients behave very politely with doctors
                    however they sometimes become rude with other workers. This awkward topic should not be ignored by
                    doctors if a need arises to discuss it with patients. It could be taken along with other complicated
                    issues doctors talk with patients. Doctors should talk to the patients in an appropriate and
                    assertive manner and remind the patients that medical license fees and other overheads need to get
                    paid.
                    <br><br> <b> 6. Once you start practicing A/R gathering plans, don’t get slow on them: </b> When you
                    have started working on your outstanding payments, keep on doing it consistently and effectively.
                    Also keep working on your current A/R even of 02 moths or newer. If you keep your payments current
                    the outstanding amount list will eventually decrease.
                    <br><br> <b> 7. Apply any outstanding amount to the client’s liability:</b> Any amounts which is
                    outstanding on client’s part put it on the client’s liability e.g.: on their deductibles usually. It
                    has been observed that due to this patient’s credits have been decreased. These outstanding can be
                    reassigned to other patients’ accounts as well after checking their accounts.
                    <br><br> <b> 8. Design or formulate your payment policy plans:</b> This is another effective and one
                    of the best ways to collect payments/patients’ responsibilities: You can design your payment
                    policies and put it on patient’s charts so that patients are aware of it and they know what you
                    expect from them. This policy should be in black and white so at the point of payment no ambiguity
                    should come between you and your patients. You can also define or plan that at what point you can
                    take what type of action. Sometimes a simple phone call would suffice or sometimes the matter should
                    be taken legally.

                    <br><br> You are putting a lot of efforts for the patients. Make sure that you get paid for these
                    efforts.


                  </p>

                </article>
              </div>


            </div>
          </div>
          <!-- Start >>> Posts Pagination  -->

          <!-- End <<< Posts Pagination  -->
        </div>
        <!--    << END ========================= MAIN COLUMN ========================  -->
      </div>
    </div>
  </section>
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p>HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span> (212) 470-1500</span></p>
            <p class='contact_detail'><i class='fa fa-fax'></i><span> (718) 427-9907</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@hqanalytics.net'> info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>

          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="/article_1" class="media-photo" style="background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR7mkNOcwh45nRVkm53MCvLDcaPeR0s05n3_JNmsRygVzxKgLvw')"></a>
                <h5 class="media-heading">
                  <a href="/article_1">PATIENT ELIGIBILITY VERIFICATION</a>
                  <small>JUNE 03</small>
                </h5>

                <p>Patient eligibility verification involves confirming that...</p>
              </li>
              <li class="media">
                <a href="/article_2" class="media-photo" style="background-image:url('http://censeo.blob.core.windows.net/assets/standard/PAGE/732/large/Got%20gaps.jpg')"></a>
                <h5 class="media-heading">
                  <a href="/article_2">HEDIS® and Performance Measurement</a>
                  <small>JUNE 03</small>
                </h5>

                <p>With a lot of technological advancements within the...</p>
              </li>
              <li class="media">
                <a href="/article_3" class="media-photo" style="background-image:url('http://www.uscellular.com/uscellular/images/myaccount/myacctIcon1b.png')"></a>
                <h5 class="media-heading">
                  <a href="/article_3">Some Methods to Increase Bills’ Collection from Patients</a>
                  <small>JUNE 03</small>
                </h5>
                <p>These are few plans designed to get these outstanding amounts...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
    h._hjSettings = {hjid: 84643, hjsv: 5};
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script');
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>


<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-78363625-1', 'auto');
  ga('send', 'pageview');

</script>



<script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {
    "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
    "recaptchaEmpty": "Please verify that you are not a robot.",
    "sending": "Sending ...",
    "cached": "1"
  };
  /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var themeConfig = {
    "NEWSLETTERS": {
      "messages": {
        "successMessage": "SUCCESS",
        "errorMessage": "ERROR",
        "required": "This field is required.",
        "remote": "Please fix this field.",
        "url": "Please enter a valid URL.",
        "date": "Please enter a valid date.",
        "dateISO": "Please enter a valid date ( ISO ).",
        "number": "Please enter a valid number.",
        "digits": "Please enter only digits.",
        "creditcard": "Please enter a valid credit card number.",
        "equalTo": "Please enter the same value again.",
        "name": "Please specify your name",
        "email": {
          "required": "We need your email address to contact you",
          "email": "Your email address must be in the format of name@domain.com"
        }
      }
    },
    "PARTICLES": {
      "enable": true,
      "color": "#bcbcbc",
      "opacity": 0.8,
      "bgColor": "transparent",
      "bgColorDark": "transparent",
      "colorParallax": "#4D83C9",
      "bgColorParallax": "transparent"
    },
    "GENERAL": {"onePagerScrollSpeed": 300}
  };
  /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
  $(document).ready(function () {
    jQuery(function ($) {
      "use strict";
      var $owl = $("#head_panel_slider");
      $owl.owlCarousel({
        items: 1,
        autoplay: _p.checkBool(1),
        autoplayTimeout: 3000,
        autoplaySpeed: 4000,
        autoplayHoverPause: _p.checkBool(1),
        nav: _p.checkBool(1),
        dots: _p.checkBool(1),
        loop: _p.checkBool(1),
        mousedrag: _p.checkBool(1),
        touchdrag: _p.checkBool(1),
        lazyload: _p.checkBool(1),
        rtl: _p.checkBool(),
      });
      var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
      $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
      $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      $owl.on("translated.owl.carousel", function (event) {
        $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
        $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      })
    });
  });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->