<div class="brand-colors"> </div>
<div class="head_panel">
  <div style="background-image: url(http://www.z3live.com/wp-content/uploads/2015/03/articles-banner.jpg)" class="full_width_photo   ">


    <div class="hgroup">

      <div class="title  skincolored_section transparent_film text-left">
        <div class="container">
          <h1>HQ Analytics - Articles</h1>
        </div>
      </div>

      <div class="subtitle  secondary_section transparent_film text-left">
        <div class="container">
          <p>Words from our experts</p>
        </div>
      </div>

    </div>


  </div>
</div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->
  <section class="sidebar_on " ><div class="container"><div class="row">
    <!--   START >> ========================= MAIN COLUMN ========================  -->
    <div class="col-sm-12 col-md-12 main_col ">  <div class="post-grid classic">
      <div class="row">

        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
              <h2 class="post_title"><a href="/article1">A Missed Call</a></h2>      <p class="post_subtitle">A Call, an Opportunity</p>    </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> June 22, 2016</span><span class="post_info post_categories">Motivation</span></div>              </div>
            <p>A missed call means missed opportunity. At caller’s end it will go unanswered call but at your end it will be a missed call. Whether it was a new query from a potential customer or a follow-up call from an existing customer who wanted to place another order, the call that you just failed to pick up could affect your bottom line. It is not possible to say with any certainty just how much money any particular missed call will cost your firm but we can tell you that the consequences will surely frighten you if unanswered calls are a regular occurrence in your office. These lines are for the companies which are just doing normal everyday businesses.
            <br><br>  Bigger responsibility at our end. But if we come to the perspective of a business which is related to hospitals/healthcare then the loss of missed call is even bigger. It can affect both money and your rapport. When we talk about healthcare then callers are not just normal callers wanting to order a food delivery or calling to place an order for a decoration piece, the callers in this industry are calling most of the times with their specific and very significant needs and expect that the persons on the other end are responsible and on their toes to help them
              [&hellip;]</p>      <p><a href="/article1" class="btn btn-primary">Read More</a></p>

          </article>
        </div>

        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
              <h2 class="post_title"><a href="/article2">Data Analytics</a></h2>      <p class="post_subtitle">Collecting, Sharing, Analysing</p>    </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> April 12, 2016</span><span class="post_info post_categories">Data Management</span></div>              </div>
            <p>Why Healthcare Analytics?<br>
              Healthcare in the United States has gradually been emerging through three waves of data management: data collection, data sharing, and data analytics. So far, the data collection and sharing waves, categorized by the urgent placement of electronic health records and health information exchanges, have failed to significantly impact the quality and cost of healthcare. And even with the current publicity about big data (data structured and un-structured) being the next “big” thing in other industries, the reality in healthcare is that we are just beginning to have the necessary analytics capabilities that enable system-wide quality improvement and cost minimizing efforts. The actual potential of analytics lies in its capability to change healthcare into a truly data-driven culture.
              Healthcare Analytics Adoption Model:<br><br>
              Healthcare Analytics can be unclear, even prodigious without a systematized framework for guiding your approach and priorities. The following framework, called the Healthcare Analytics Adoption Model, was developed by a cross-industry group of healthcare industry experts as a guide to classifying groups of analytics abilities, and provide an organized sequencing to adopting analytics within health system organizations. An effective and maintainable analytics approach requires building initial elements of the model first in order to support the upper levels of the model in later years.
              Purpose:<br>
              The model borrows lessons learned from the HIMSS EMR Adoption Model, and describes an analogous approach for assessing the adoption of analytics in healthcare. The Healthcare Analytics Adoption Model provides:
              An outline for assessing the industry’s adoption of analytics.<br>
              A framework for assessing vendor products.<br><br>
              A roadmap for organizations to measure their own development toward analytic adoption.<br>
              It is believed that this Analytics Adoption Model will enable healthcare organizations to fully understand and control the capabilities of analytics and so achieve the final goal that has escaped most provider organizations – that of improving the quality of care while lowering costs and improving clinician and patient satisfaction.
              [&hellip;]</p>      <p><a href="/article2" class="btn btn-primary">Read More</a></p>

          </article>
        </div>


        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
              <h2 class="post_title"><a href="/article3">PATIENT ELIGIBILITY VERIFICATION</a></h2>      <p class="post_subtitle">Your Patient Your Responsibility</p>    </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> May 19, 2016</span><span class="post_info post_categories">Eligibility</span><span class="post_info post_categories">Medical Insurance</span></div>              </div>
            <p>Patient eligibility verification involves confirming that the info on the insurance identification card brought by patients during an office visit is up-to-date and accurate and checking their coverage at the time of service.
             <br><br> On the second note it’s very important that you gather the correct information of the patient and the insurance as well. The correct information of the patient will include the Full name, DOB, Age, Race, Sex, Residing Address etc. and the name of the insurance company with which the patient is enrolled. For the correct information you can ask for the patient’s insurance card or the driving’s license.
              <br>Another important factor is the ratio of patient volume to the office staff i.e.: whether your practice can handle the flow of the patients effectively or not. In this scenario timings are also very important. If your practice is having work load of patients from let’s say 10AM till 7PM and your staff is free after 04 or 05, then insurance verification is not possible on call as most of insurance companies close at 05:00 PM.
             <br><br> If the patient volume is much then you can put a dedicated person for this role of eligibility verification so that the services don’t get compromised while performing concurrent tasks.

              [&hellip;]</p>      <p><a href="/article3" class="btn btn-primary">Read More</a></p>

          </article>
        </div>

        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
              <h2 class="post_title"><a href="/article4">HEDIS® and Performance Measurement</a></h2>      <p class="post_subtitle">Measure or Compare Health Care Plans</p>    </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> March 08, 2016</span><span class="post_info post_categories">HEDIS</span></div>              </div>
            <p>With a lot of technological advancements within the last decade, the change in healthcare industry has become very rapid and the demands and requirements to keep up with this pace is also increasing. Now a days there is so much diversity and options available in healthcare industry that a need to measure or compare health care plans is very much necessary and it has become possible due to HEDIS.
             <br><br> HEDIS stands for Healthcare Effectiveness Data and Information Set. It is developed as a tool which is so effective that it has been used by more than 90 percent healthcare plans in America.
              <br>HEDIS was first introduced in 1980s and after few years it was entrusted to NCQA and now HEDIS is NCQA’s accreditation component. Through the years i.e. from early 90s to 2007, different versions of HEDIS have been introduced but in 2007 NCQA declared its name which is currently in use and defines its role well and it is now a registered trademark of NCQA which stands for national committee for quality assurance.
              <br><br>HEDIS has 83 measures in 5 different domains. These domains are:
              <br>1.	Effectiveness of Care
              <br>2.	Utilization and Relative Resource Use
              <br>3.	Experience of Care
              <br>4.	Health Plan Descriptive Information
              <br>5.	Health Plan Descriptive Information
              <br><br>Each year a new version of HEDIS gets introduced which contains
              [&hellip;]</p>      <p><a href="/article4" class="btn btn-primary">Read More</a></p>

          </article>
        </div>

        <div class="col-md-12">
          <article id="post-271" class="post post-271 type-post status-publish format-standard has-post-thumbnail hentry category-motivation">
            <div class="post_headings">
              <h2 class="post_title"><a href="/article5">Some Methods to Increase Bill's Collection from Patients:</a></h2>      <p class="post_subtitle">Make sure you get which you worked for.</p>    </div>
            <div class="post_figure_and_info">
              <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> April 26, 2016</span><span class="post_info post_categories">Medical Coding</span><span class="post_info post_categories">Accounts Receivable</span><span class="post_info post_categories">Medical Billing</span></div>              </div>
            <p>These are few plans designed to get these outstanding amounts off from books.
              <br><br>1.	Educate (re-educate) effectively your front office employees: Firstly train your front-work area employees about checking the client’s record regarding the balances. It is very powerful to make your client’s recalled about their unpaid balances if any before they get any administration by you on that particular day. As clients want to get checked they will normally pay a portion of their whole bill so that they can remain in the good books of the doctors. An aspect of this education includes about how to ask for any dues which are on client’s end. If you ask this question the answers could be yes or no and it is very easy for the clients to say no if you ask them in an inappropriate way. e.g.:  if the question being asked in an interrogative tone or will you pay your dues this time then you are yourself giving the client a clue to say no. You can rather put a question. How would you like to pay your bill today? It tells that the question should be open ended rather than closed ended.
              <br><br>2.	Conduct meetings consistently with your relevant employees to get an update about the A/R Status: There is software through which A/R can be assessed in multiple ways. You can easily check the amount which needs to be collected on client’s end. Once the workers get the knowledge they can work efficiently and comfortably on such accounts. It has been seen that if you work actively even on smaller amounts the A/R could be reduced magically.
              <br><br>3.	Be kind to your struggling clients: it could serve as a very intelligent move. You can help your patients who are really needy and cannot afford much. There are some clients who don’t want to disturb you by not paying but die to their financial conditions they cannot afford so in these cases you can develop
              [&hellip;]</p>      <p><a href="/article5" class="btn btn-primary">Read More</a></p>

          </article>
        </div>



      </div>
    </div>
      <!-- Start >>> Posts Pagination  -->

      <!-- End <<< Posts Pagination  -->
    </div>
    <!--    << END ========================= MAIN COLUMN ========================  -->
    </div></div></section>
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p>HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span> (212) 470-1500</span></p>
            <p class='contact_detail'><i class='fa fa-fax'></i><span> (718) 427-9907</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@hqanalytics.net'> info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>

          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="/article_1" class="media-photo" style="background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR7mkNOcwh45nRVkm53MCvLDcaPeR0s05n3_JNmsRygVzxKgLvw')"></a>
                <h5 class="media-heading">
                  <a href="/article_1">PATIENT ELIGIBILITY VERIFICATION</a>
                  <small>JUNE 03</small>
                </h5>

                <p>Patient eligibility verification involves confirming that...</p>
              </li>
              <li class="media">
                <a href="/article_2" class="media-photo" style="background-image:url('http://censeo.blob.core.windows.net/assets/standard/PAGE/732/large/Got%20gaps.jpg')"></a>
                <h5 class="media-heading">
                  <a href="/article_2">HEDIS® and Performance Measurement</a>
                  <small>JUNE 03</small>
                </h5>

                <p>With a lot of technological advancements within the...</p>
              </li>
              <li class="media">
                <a href="/article_3" class="media-photo" style="background-image:url('http://www.uscellular.com/uscellular/images/myaccount/myacctIcon1b.png')"></a>
                <h5 class="media-heading">
                  <a href="/article_3">Some Methods to Increase Bills’ Collection from Patients</a>
                  <small>JUNE 03</small>
                </h5>
                <p>These are few plans designed to get these outstanding amounts...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
    h._hjSettings = {hjid: 84643, hjsv: 5};
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script');
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78363625-1', 'auto');
  ga('send', 'pageview');

</script>



<script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {
    "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
    "recaptchaEmpty": "Please verify that you are not a robot.",
    "sending": "Sending ...",
    "cached": "1"
  };
  /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var themeConfig = {
    "NEWSLETTERS": {
      "messages": {
        "successMessage": "SUCCESS",
        "errorMessage": "ERROR",
        "required": "This field is required.",
        "remote": "Please fix this field.",
        "url": "Please enter a valid URL.",
        "date": "Please enter a valid date.",
        "dateISO": "Please enter a valid date ( ISO ).",
        "number": "Please enter a valid number.",
        "digits": "Please enter only digits.",
        "creditcard": "Please enter a valid credit card number.",
        "equalTo": "Please enter the same value again.",
        "name": "Please specify your name",
        "email": {
          "required": "We need your email address to contact you",
          "email": "Your email address must be in the format of name@domain.com"
        }
      }
    },
    "PARTICLES": {
      "enable": true,
      "color": "#bcbcbc",
      "opacity": 0.8,
      "bgColor": "transparent",
      "bgColorDark": "transparent",
      "colorParallax": "#4D83C9",
      "bgColorParallax": "transparent"
    },
    "GENERAL": {"onePagerScrollSpeed": 300}
  };
  /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
  $(document).ready(function () {
    jQuery(function ($) {
      "use strict";
      var $owl = $("#head_panel_slider");
      $owl.owlCarousel({
        items: 1,
        autoplay: _p.checkBool(1),
        autoplayTimeout: 3000,
        autoplaySpeed: 4000,
        autoplayHoverPause: _p.checkBool(1),
        nav: _p.checkBool(1),
        dots: _p.checkBool(1),
        loop: _p.checkBool(1),
        mousedrag: _p.checkBool(1),
        touchdrag: _p.checkBool(1),
        lazyload: _p.checkBool(1),
        rtl: _p.checkBool(),
      });
      var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
      $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
      $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      $owl.on("translated.owl.carousel", function (event) {
        $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
        $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      })
    });
  });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->