<div class="brand-colors"></div>
<div class="head_panel">
  <div style="background-image: url(http://medical.billing.consolidatedmd.com/images/medical_claims_denial_management.jpg)" class="full_width_photo   ">


    <div class="hgroup">

      <div class="title  skincolored_section transparent_film text-left">
        <div class="container">
          <h1>DENIAL MANAGEMENT</h1>
        </div>
      </div>

      <div class="subtitle  secondary_section transparent_film text-left">
        <div class="container">
          <p>A Key to Collect your Account Receivables</p>
        </div>
      </div>

    </div>


  </div>
</div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->
  <section class="sidebar_on ">
    <div class="container">
      <div class="row">
        <!--   START >> ========================= MAIN COLUMN ========================  -->
        <div class="col-sm-8 col-md-8 main_col ">
          <div class="post-grid classic">
            <div class="row">




              <div class="col-md-12">
                <article id="post-79" class="post post-79 type-post status-publish format-standard has-post-thumbnail hentry category-diet category-news">
                  <div class="post_headings">
                    </div>
                  <div class="post_figure_and_info">
                    <div class="post_sub">
                      <span class="post_info post_date"><i class="fa fa-calendar"></i> June 05, 2016</span><a href="#" title="DENIAL MANAGEMENT” A Key to Collect your Account Receivables:"><span class="post_info post_categories">Medical Billing</span></a><a href="../category/news/index.html" title=""><span class="post_info post_categories">News</span></a>
                    </div>
                    </div>
                  <p>
                    Denial Management means to resolve the denials by taking corrective measures using EOB/ERA, Web portal, IVR to get reimbursement on denied claims.
                    Studied has shown that there are some major areas of the denial production & if we focus on the elimination of their reasons, we can get rid of these denials. Below are the top 10 commonly received denials which are taken care proactively at HQ Analytics to accelerate your revenue cycle management.
                   <br><br><b> ➢	Major Denials Categories:</b><br><br>
                    <br><br><b> 1.	Patient Related Denials:</b><br>
                    The claims which are denied due to some incorrect information of patient like name, DOB & Gender, patient ID, insured party info, COB, incorrect insurance address, submission to wrong insurance etc..
                    <br><br><b>2.	Provider Related Denials:</b><br>
                    The denial reasons related to provider like, provider not authorized (Taxonomy Code/ Specialty), provider not certified (Non-Par) etc fall under this category.
                    <br><br><b>3.	Incorrect ICD:</b><br>
                    Some denials occur due to incorrect/invalid ICDs, positioning of ICD’s, mismatching ICD’s as per Medical Necessity/ Local coverage determination etc.
                    <br><br><b>4.	Incorrect Modifiers:</b><br>
                    The claims denied due to using inconsistent modifier/missing modifier is covered in this category. We manage the proper modifier usage to avoid these types of denials for faster reimbursement.
                    <br><br><b>5.	Incorrect CPT/Units/Price:</b><br>
                    The claims denied due to using incorrect/invalid CPT. Like we cannot bill two E/M procedures on the same day. For example, if patient visits provider (A) for initial treatment (99211) and on the same day, patient visits another provider (B) for the same procedure (99211), then insurance will pay for the single procedure and will deny the second same procedure as duplicate. Similarly we can’t bill specific CPT’s with invalid/ missing units/price.
                    <br><br><b>6.	Duplicate:</b><br>
                    The remark code CO-18 indicates that procedure is denied as already processed on the same date. There can be more than thousands of denials with duplicate reason every year with CMS. This occurs due to submission of purely duplicate claims or resubmission of denied claims without corrections etc.
                    <br><br><b>7.	Missing Claim Information:</b><br>
                    CO-16 shows that claim is denied due to some missing information which is required by insurance to process the claim. There can be only one reason from the denial reasons given by the CMS for this denial that need to be fixed before the resubmission of claim for the reimbursement.
                    <br><br><b>8.	Inappropriate Bundling:</b><br>
                    Claims are denied as insurance has bundled the procedures due to performed in Global Period, using inappropriate modifiers, not according to the CCI edits.
                    <br><br><b>9.	Incorrect POS:</b><br>
                    POS are two digit codes that are assigned to a location according to its category, like an office location will have 11 POS. If we don’t follow the rules of billing any procedure according to the POS, then the claim will be denied. Moreover, some insurance do not cover some POS(s) or some POS’s do require extra information on the claim like in inpatient hospital, there must be admission date.
                    <br><br><b>10.	Authorization/Referrals</b><br>
                    Some procedures require prior- authorization to perform by the provider Or some patient do require getting referral from their PCP while visiting any specialist. With most of the payers we have to get pre-auth, only few payer offers retro-auth (getting auth after rendering of services).

                  </p>

                </article>
              </div>


            </div>
          </div>
          <!-- Start >>> Posts Pagination  -->

          <!-- End <<< Posts Pagination  -->
        </div>
        <!--    << END ========================= MAIN COLUMN ========================  -->
        <div id="sidebar" class="col-sm-4 col-md-4">
          <!-- ===================== MULTIBOX ========================-->
          <div class="widget plethora-multibox-widget black_section bg_vcenter transparent_film boxed_plus  " style="background-image:url(http://findmedicalbillingcoding.com/wp-content/uploads/medicalbillingcoding.jpg);">


            <div class=""><h3>HQ Analytics Top medical billing & coding company</h3>
            </div>

          </div>

          <!-- END================== INFOBOX ========================-->
          <!-- ===================== MULTIBOX ========================-->
          <div class="widget plethora-multibox-widget black_section bg_vcenter transparent_film boxed_plus  " style="background-image:url(http://www.collegequest.com/wp-content/uploads/medical-billing-coding-schools.jpg);">


            <div class=""><h3>Best medical credentialing </h3>
            </div>

          </div>

          <!-- END================== INFOBOX ========================-->
          <!-- ========================== APPOINTMENT FORM ==========================-->

          <div class="widget boxed secondary_section widget_appointment">

            <h3 class="col_header centered"> Quick Contact </h3>

            <div role="form" class="wpcf7" id="wpcf7-f100-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="100"/>
                  <input type="hidden" name="_wpcf7_version" value="4.3.1"/>
                  <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f100-o1"/>
                  <input type="hidden" name="_wpnonce" value="543b09b511"/>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Full Name"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap telephone"><input type="text" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Phone Number"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email email" aria-required="true" aria-invalid="false" placeholder="Email"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control message" aria-invalid="false" placeholder="Message"></textarea></span>
                  </div>
                  <div class="col-sm-12">
                    <input type="submit" value="Request Demo!" class="wpcf7-form-control wpcf7-submit btn btn-primary"/>
                  </div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>

          </div>

          <!-- END======================= APPOINTMENT FORM ==========================-->
        </div>
      </div>
    </div>
  </section>
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p>HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span> (212) 470-1500</span></p>
            <p class='contact_detail'><i class='fa fa-fax'></i><span> (718) 427-9907</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@hqanalytics.net'> info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>

          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="/article_1" class="media-photo" style="background-image:url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR7mkNOcwh45nRVkm53MCvLDcaPeR0s05n3_JNmsRygVzxKgLvw')"></a>
                <h5 class="media-heading">
                  <a href="/article_1">PATIENT ELIGIBILITY VERIFICATION</a>
                  <small>JUNE 03</small>
                </h5>

                <p>Patient eligibility verification involves confirming that...</p>
              </li>
              <li class="media">
                <a href="/article_2" class="media-photo" style="background-image:url('http://censeo.blob.core.windows.net/assets/standard/PAGE/732/large/Got%20gaps.jpg')"></a>
                <h5 class="media-heading">
                  <a href="/article_2">HEDIS® and Performance Measurement</a>
                  <small>JUNE 03</small>
                </h5>

                <p>With a lot of technological advancements within the...</p>
              </li>
              <li class="media">
                <a href="/article_3" class="media-photo" style="background-image:url('http://www.uscellular.com/uscellular/images/myaccount/myacctIcon1b.png')"></a>
                <h5 class="media-heading">
                  <a href="/article_3">Some Methods to Increase Bills’ Collection from Patients</a>
                  <small>JUNE 03</small>
                </h5>
                <p>These are few plans designed to get these outstanding amounts...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
    h._hjSettings = {hjid: 84643, hjsv: 5};
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script');
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>


<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-78363625-1', 'auto');
  ga('send', 'pageview');

</script>



<script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {
    "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
    "recaptchaEmpty": "Please verify that you are not a robot.",
    "sending": "Sending ...",
    "cached": "1"
  };
  /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var themeConfig = {
    "NEWSLETTERS": {
      "messages": {
        "successMessage": "SUCCESS",
        "errorMessage": "ERROR",
        "required": "This field is required.",
        "remote": "Please fix this field.",
        "url": "Please enter a valid URL.",
        "date": "Please enter a valid date.",
        "dateISO": "Please enter a valid date ( ISO ).",
        "number": "Please enter a valid number.",
        "digits": "Please enter only digits.",
        "creditcard": "Please enter a valid credit card number.",
        "equalTo": "Please enter the same value again.",
        "name": "Please specify your name",
        "email": {
          "required": "We need your email address to contact you",
          "email": "Your email address must be in the format of name@domain.com"
        }
      }
    },
    "PARTICLES": {
      "enable": true,
      "color": "#bcbcbc",
      "opacity": 0.8,
      "bgColor": "transparent",
      "bgColorDark": "transparent",
      "colorParallax": "#4D83C9",
      "bgColorParallax": "transparent"
    },
    "GENERAL": {"onePagerScrollSpeed": 300}
  };
  /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
  $(document).ready(function () {
    jQuery(function ($) {
      "use strict";
      var $owl = $("#head_panel_slider");
      $owl.owlCarousel({
        items: 1,
        autoplay: _p.checkBool(1),
        autoplayTimeout: 3000,
        autoplaySpeed: 4000,
        autoplayHoverPause: _p.checkBool(1),
        nav: _p.checkBool(1),
        dots: _p.checkBool(1),
        loop: _p.checkBool(1),
        mousedrag: _p.checkBool(1),
        touchdrag: _p.checkBool(1),
        lazyload: _p.checkBool(1),
        rtl: _p.checkBool(),
      });
      var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
      $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
      $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      $owl.on("translated.owl.carousel", function (event) {
        $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
        $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
      })
    });
  });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->