<div class="brand-colors"> </div>
<div class="head_panel">
  <div id="map" class="map"><img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/umL9S4iWCYdXmgB/Snip20160520_1.png"></div>
  <div class="hgroup">
    <div class="title diagonal-bgcolor-trans  ">
      <div class="container">
        <h1>Contact</h1>
      </div>
    </div>
    <div class="subtitle body-bg_section   ">
      <div class="container">
        <p>Fill In the Form for information or a meeting!</p>
      </div>
    </div>
  </div>
</div>
<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->

  <!--   START >> ========================= MAIN COLUMN ========================  -->
  <section class="vc_row wpb_row vc_row-fluid no_padding">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-6 secondary_section margin_bottom_grid boxed_plus">
          <div class="wpb_wrapper">
            <div class="vc_empty_space"  style="height: 64px" ><span class="vc_empty_space_inner"></span></div>
            <div role="form" class="wpcf7" id="wpcf7-f5-p255-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="http://plethorathemes.com/healthflex/contact/#wpcf7-f5-p255-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="5" />
                  <input type="hidden" name="_wpcf7_version" value="4.4.1" />
                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p255-o1" />
                  <input type="hidden" name="_wpnonce" value="6cb6a92a7c" />
                </div>
                <p>Your Name (required)<br />
                  <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                <p>Your Email (required)<br />
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                <p>Subject<br />
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false" /></span> </p>
                <p>Your Message<br />
                  <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span> </p>
                <p><button onclick="return false" class="btn btn-primary wpcf7-response-output wpcf7-display-none">SEND</button></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div></form></div><div class="vc_empty_space"  style="height: 32px" ><span class="vc_empty_space_inner"></span></div>

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-6 boxed_plus">
          <div class="wpb_wrapper">
            <div class="vc_empty_space"  style="height: 64px" ><span class="vc_empty_space_inner"></span></div>

            <div class="wpb_single_image wpb_content_element vc_align_left">

              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="103" height="100" src="http://www.hqanalytics.net/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_color.png" class="vc_single_image-img attachment-medium" alt="icon_med_book" /></div>
              </figure>
            </div>
            <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><h4>Contact Info &amp; Details</h4><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
            </div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>
                    <p><strong>Working hours:</strong> 8am &#8211; 5pm on weekdays</p>
                    <p><strong>Saturday & Sunday:</strong> Off</p>
                    <p><strong>212-470-1500</strong></p>
                    <p><strong>info@hqanalytics.net</strong></p>
                    <p><strong>601 West 138th Street, New York, NY 10031.</strong> <small><a href="https://www.google.com/maps/place/601+W+138th+St,+New+York,+NY+10031/@40.8223199,-73.9562525,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2f6667c6b4cdb:0x19bf8d686e4a3f55!8m2!3d40.8223199!4d-73.9540638">get directions</a></small></p>
                  </div>
                </div>

              </div>
            </div>
            <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><h4>Appointment Request</h4><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
            </div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>If you wish to book an appointment with us, it is best that you call us directly or fill-up the form. </p>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid secondary_section no_padding separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center   boxed  ">


              <div class="figure ">






                <i class="fa fa-car"></i>




              </div>

              <div class="content text-center  ">

                <div class="hgroup">
                  <h4>Parking Spaces</h4>
                  <p>You can park your car just outside</p>
                </div>




              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center   boxed  ">


              <div class="figure ">






                <i class="fa fa-bus"></i>




              </div>

              <div class="content text-center  ">

                <div class="hgroup">
                  <h4>Bus Routes</h4>
                  <p>Bus nr.23 leaves you just in front</p>
                </div>




              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center   boxed  ">


              <div class="figure ">






                <i class="wmi icon-i-accessibility"></i>




              </div>

              <div class="content text-center  ">

                <div class="hgroup">
                  <h4>Accesibility</h4>
                  <p>We use ramps for easier access.</p>
                </div>




              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
      </div>
    </div>
  </section>


  <section style="background-image: url('../wp-content/uploads/2015/09/facilities_7.jpg')" class="vc_row wpb_row vc_row-fluid secondary_section text-center transparent_film bgimage bg_vcenter">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-center">

              <h2 style="text-align: center;">GRAB OUR <strong>HEALTH</strong> NEWSLETTER</h2>


              <p>subscribe to our awesome <strong>mailchimp.com</strong> list</p>
            </div><div class="newsletter_form ">
            <form id="newsletter" action="http://plethorathemes.com/healthflex/wp-admin/admin-ajax.php" method="POST" class="form-inline text-center">
              <input id="email" placeholder="Email Address" name="email" type="text" class="form-control">
              <input type="hidden" name="nonce" id="nonce" value="e623f659e5">
              <button type="submit" class="btn btn-secondary form-control">
                <span class="fa fa-refresh fa-refresh-animate hidden"></span>
                SUBSCRIBE
                <span id="newsletterResponse" class="btn btn-primary hidden">MESSAGE</span>
              </button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="new_comment">
    <div class="container">        <div class="new_comment">
    </div>
    </div>      </div>


  <!--    << END ========================= MAIN COLUMN ========================  -->

  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p> HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span>212-470-1500</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@healthcoach.com'>info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>
          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/eating-donut.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html">HQ Analytics Medical Billing
                    News</a>
                  <small>May 15</small>
                </h5>
                <p>Sed in felis velit. Quisque porta turpis vel leo accumsan...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/weight-loss-fitness/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/success-story-person.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/weight-loss-fitness/index.html">HQ Analytics Medical credentialing blog</a>
                  <small>May 13</small>
                </h5>
                <p>It's a familiar story: You pledge to honor a daily...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/mussels-marinara-di-amore/index.html" class="media-photo" style="background-image:url(' http://i1.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/Mussels-Marinara-di-Amore.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/mussels-marinara-di-amore/index.html">HQ Analytics new IT services with
                    Networking</a>
                  <small>May 12</small>
                </h5>
                <p>INGREDIENTS For the Greek Vinaigrette 1 clove garlic 3 tablespoons...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
        h._hjSettings = {hjid: 84643, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>
<script type='text/javascript'>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-55444186-5', 'auto');
    ga('send', 'pageview');
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptchaEmpty": "Please verify that you are not a robot.",
        "sending": "Sending ...",
        "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var themeConfig = {
        "NEWSLETTERS": {
            "messages": {
                "successMessage": "SUCCESS",
                "errorMessage": "ERROR",
                "required": "This field is required.",
                "remote": "Please fix this field.",
                "url": "Please enter a valid URL.",
                "date": "Please enter a valid date.",
                "dateISO": "Please enter a valid date ( ISO ).",
                "number": "Please enter a valid number.",
                "digits": "Please enter only digits.",
                "creditcard": "Please enter a valid credit card number.",
                "equalTo": "Please enter the same value again.",
                "name": "Please specify your name",
                "email": {
                    "required": "We need your email address to contact you",
                    "email": "Your email address must be in the format of name@domain.com"
                }
            }
        },
        "PARTICLES": {
            "enable": true,
            "color": "#bcbcbc",
            "opacity": 0.8,
            "bgColor": "transparent",
            "bgColorDark": "transparent",
            "colorParallax": "#4D83C9",
            "bgColorParallax": "transparent"
        },
        "GENERAL": {"onePagerScrollSpeed": 300}
    };
    /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
    $(document).ready(function () {
        jQuery(function ($) {
            "use strict";
            var $owl = $("#head_panel_slider");
            $owl.owlCarousel({
                items: 1,
                autoplay: _p.checkBool(1),
                autoplayTimeout: 3000,
                autoplaySpeed: 4000,
                autoplayHoverPause: _p.checkBool(1),
                nav: _p.checkBool(1),
                dots: _p.checkBool(1),
                loop: _p.checkBool(1),
                mousedrag: _p.checkBool(1),
                touchdrag: _p.checkBool(1),
                lazyload: _p.checkBool(1),
                rtl: _p.checkBool(),
            });
            var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
            $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
            $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            $owl.on("translated.owl.carousel", function (event) {
                $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
                $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            })
        });
    });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->