

<div class="brand-colors"> </div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main secondary_section" data-colorset="secondary_section">
  <!--    >> START ========================= CONTENT AREA ========================  -->
  <section class="vc_off sidebar_off full_height vertical_center" ><div class="container"><div class="row">
    <!--   START >> ========================= MAIN COLUMN ========================  -->
    <div class="">      <div class="profile_single_photo col-md-5">
      <figure class="stretchy_wrapper ratio_1-1" style="background-image: url(http_/i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/may-chang0fe7.html?fit=600%2C600')"><img alt="Mey" src="http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/may-chang.jpg?fit=600%2C600"></figure>
      <blockquote>
        <p><i>Troubleshoot Quality Measures And Your Incentives</i></p>
      </blockquote>
    </div>
      <div class="col-md-7">
        <div class="section_header xbold"><h1 class="post_title">HEDIS SOLUTION</h1><p class="post_subtitle">Troubleshoot Quality Measures And Your Incentives</p></div><p><article class="blog-detail">
        <p class="dropcap">HEDIS SOLUTION is designed to provide patients and providers with the information they need to reliably compare the performance of health care plans. HEDIS results are included in HEDIS SOLUTION, an interactive, web-based comparison tool that allows users to view plan results and benchmark information and focus in the right direction for the improvement of their patients’ health improving their rating with payers.</p>

        <h3>Our HEDIS SOLUTION for following functions</h3>

        <ul style="line-height: 2">
          <li style="list-style-type: none;">
									<span>
										<img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/dxq79NVQxfdDeU7/bullets-4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef.png" alt="Bullets 4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef">
									</span>
									<span class="text">
										Keeping Track for Care Gap measures
									</span>
          </li>
          <li style="list-style-type: none;">
									<span>
										<img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/dxq79NVQxfdDeU7/bullets-4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef.png" alt="Bullets 4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef">
									</span>
									<span class="text">
										Internal Report Card
									</span>
          </li>
          <li style="list-style-type: none;">
									<span>
										<img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/dxq79NVQxfdDeU7/bullets-4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef.png" alt="Bullets 4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef">
									</span>
									<span class="text">
										Closed Loop Referral System
									</span>
          </li>
          <li style="list-style-type: none;">
									<span>
										<img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/dxq79NVQxfdDeU7/bullets-4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef.png" alt="Bullets 4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef">
									</span>
									<span class="text">
										Care Gap Analysis
									</span>
          </li>
          <li style="list-style-type: none;">
									<span>
										<img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2968602/dxq79NVQxfdDeU7/bullets-4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef.png" alt="Bullets 4033f14a8b7a9f2b4aa8134989ab7170088a55266068d408e2ab4094da6573ef">
									</span>
									<span class="text">
										Patient Reminders
									</span>
          </li>
        </ul>

      </article></p>
      </div>
    </div>
    <!--    << END ========================= MAIN COLUMN ========================  -->
  </div></div></section>
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<!--    END ========================= MAIN WRAPPER FINISH ========================  -->
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p> HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span>212-470-1500</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@healthcoach.com'>info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>
          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/eating-donut.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html">HQ Analytics Medical Billing
                    News</a>
                  <small>May 15</small>
                </h5>
                <p>Sed in felis velit. Quisque porta turpis vel leo accumsan...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/weight-loss-fitness/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/success-story-person.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/weight-loss-fitness/index.html">HQ Analytics Medical credentialing blog</a>
                  <small>May 13</small>
                </h5>
                <p>It's a familiar story: You pledge to honor a daily...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/mussels-marinara-di-amore/index.html" class="media-photo" style="background-image:url(' http://i1.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/Mussels-Marinara-di-Amore.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/mussels-marinara-di-amore/index.html">HQ Analytics new IT services with
                    Networking</a>
                  <small>May 12</small>
                </h5>
                <p>INGREDIENTS For the Greek Vinaigrette 1 clove garlic 3 tablespoons...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
        h._hjSettings = {hjid: 84643, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>
<script type='text/javascript'>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-55444186-5', 'auto');
    ga('send', 'pageview');
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptchaEmpty": "Please verify that you are not a robot.",
        "sending": "Sending ...",
        "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var themeConfig = {
        "NEWSLETTERS": {
            "messages": {
                "successMessage": "SUCCESS",
                "errorMessage": "ERROR",
                "required": "This field is required.",
                "remote": "Please fix this field.",
                "url": "Please enter a valid URL.",
                "date": "Please enter a valid date.",
                "dateISO": "Please enter a valid date ( ISO ).",
                "number": "Please enter a valid number.",
                "digits": "Please enter only digits.",
                "creditcard": "Please enter a valid credit card number.",
                "equalTo": "Please enter the same value again.",
                "name": "Please specify your name",
                "email": {
                    "required": "We need your email address to contact you",
                    "email": "Your email address must be in the format of name@domain.com"
                }
            }
        },
        "PARTICLES": {
            "enable": true,
            "color": "#bcbcbc",
            "opacity": 0.8,
            "bgColor": "transparent",
            "bgColorDark": "transparent",
            "colorParallax": "#4D83C9",
            "bgColorParallax": "transparent"
        },
        "GENERAL": {"onePagerScrollSpeed": 300}
    };
    /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
    $(document).ready(function () {
        jQuery(function ($) {
            "use strict";
            var $owl = $("#head_panel_slider");
            $owl.owlCarousel({
                items: 1,
                autoplay: _p.checkBool(1),
                autoplayTimeout: 3000,
                autoplaySpeed: 4000,
                autoplayHoverPause: _p.checkBool(1),
                nav: _p.checkBool(1),
                dots: _p.checkBool(1),
                loop: _p.checkBool(1),
                mousedrag: _p.checkBool(1),
                touchdrag: _p.checkBool(1),
                lazyload: _p.checkBool(1),
                rtl: _p.checkBool(),
            });
            var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
            $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
            $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            $owl.on("translated.owl.carousel", function (event) {
                $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
                $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            })
        });
    });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->