<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78363625-1', 'auto');
    ga('send', 'pageview');

</script>
<div class="brand-colors"></div>
<div class="head_panel">
  <div class="slider_wrapper">
    <div id="head_panel_slider" class="owl-carousel">


      <!-- ============================ SLIDE ==========================-->

      <div class="stretchy_wrapper ratio_slider">
        <div style="background-image: url(/assets/wp-content/uploads/sites/3/2016/02/health-coach-1.jpg);" aria-hidden="true" class="item    ">
          <div class="container">
            <div class="caption caption_left caption_fancy  text-left">
              <div class="inner black_section transparent_film animated slideInUp">
                <div class="t1"><span style="color:#ffa145 ">HQ</span> <span style="color: #9cc222">ANALYTICS</span>
                </div>
                <div class="t2">Quality That Sets Us Apart</div>
                <p class="desc hidden-xxs">If you are swamped with work, pressed to invest in non-core mundane then we
                  can help you by giving quality healthcare management services </p>
                <div>
                  <a href="/about" target="_self" class="btn btn-primary">
                    About Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END========================= SLIDE ==========================-->

      <!-- ============================ SLIDE ==========================-->

      <div class="stretchy_wrapper ratio_slider">
        <div style="background-image: url(/assets/wp-content/uploads/sites/3/2016/02/yoga-beach.jpg);" aria-hidden="true" class="item    ">
          <div class="container">
            <div class="caption caption_left caption_fancy  text-left">
              <div class="inner black_section transparent_film animated slideInDown">
                <div class="t1" style="color: #ffa145;">Backend Support</div>
                <div class="t2">Take care of the patients and we will take care of the rest</div>
                <p class="desc hidden-xxs">We believe that you have not spent multiple years in medical schools to
                  handle management services. Provide excellent healthcare services to what you love most, your
                  patients.</p>
                <div>
                  <a href="/contact_us" target="_self" class="btn btn-primary">
                    Request Demo
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- END========================= SLIDE ==========================-->

      <!-- ============================ SLIDE ==========================-->
      <div class="stretchy_wrapper ratio_slider">
        <div style="background-image: url(/assets/wp-content/uploads/sites/3/2016/02/slider_2.jpg);" aria-hidden="true" class="item    ">
          <div class="container">
            <div class="caption caption_left caption_fancy  text-left">
              <div class="inner black_section transparent_film animated slideInRight">
                <div class="t1" style="color: #ffa145;">Vision</div>
                <div class="t2">Aspiring and Inspiring</div>
                <p class="desc hidden-xxs">To take Healthcare to new innovative level and synchronize relationship
                  between the healthcare organizations to improve healthcare cost.</p>
                <div>
                  <a href="/contact_us" target="_self" class="btn btn-primary">
                    Request Demo
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END========================= SLIDE ==========================-->
      <!-- ============================ SLIDE ==========================-->
      <div class="stretchy_wrapper ratio_slider">
        <div style="background-image: url(/assets/wp-content/uploads/sites/3/2016/02/eating-donut.jpg);" aria-hidden="true" class="item  dark_section  ">
          <div class="container">
            <div class="caption caption_left caption_fancy  text-left">
              <div class="inner black_section transparent_film animated slideInLeft">
                <div class="t1" style="color: #ffa145;">Mission</div>
                <div class="t2">Direction with Purpose</div>
                <p class="desc hidden-xxs">To provide highest quality healthcare back office services with complete
                  customer satisfaction.</p>
                <div>
                  <a href="/about" target="_self" class="btn btn-primary">
                    About Us
                  </a>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>

      <!-- END========================= SLIDE ==========================-->

    </div>
  </div>
</div>

<!--    ========================= MAIN WRAPPER START ========================  -->
<div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->

  <!--   START >> ========================= MAIN COLUMN ========================  -->
  <section class="vc_row wpb_row vc_row-fluid no_padding no_cols_padding elevate folded_section transparent">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 dark_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/billing_module" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/Kj2gN2pHIBs1I6n/icon_doctor1.png" alt="Health Coach Services">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Medical Billing & Coding</h4>

                  <p>Complete HIPPA compliance, ready for 140,000 ICD 10 codes</p>
                </div>


                <div class="link centered">
                  <a href="/billing_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/credentialing_module" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/VqeWYMyBJgEvkjH/icon_med_book_white.png" alt="Holistic Approach">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Medical Credentialing</h4>

                  <p>100% HIPAA Compliant</p>
                </div>


                <div class="link centered">
                  <a href="/credentialing_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 dark_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/population_management_module" title="" target="">

                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/ihH77rWLg0AM9Sv/icon_tree_white.png" alt="Success Stories">

                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Population Management</h4>

                  <p>Smart analytical solutions for innovative practices
                  </p>
                </div>


                <div class="link centered">
                  <a href="/population_management_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/practice_development" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/i8Y0vdc5lawf4xO/Untitled-1.png" alt="Request an appointment">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Practice Development</h4>

                  <p>Assuring quality of care and obviously your incentives!!</p>
                </div>


                <div class="link centered">
                  <a href="/practice_development" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>
  <section class="vc_row wpb_row vc_row-fluid no_padding no_cols_padding elevate folded_section transparent">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 dark_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/document_management_module" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/HkCau6YzJOY4s6n/strive-test.png" alt="Health Coach Services">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Document Management</h4>

                  <p>Systematic record of results</p>
                </div>


                <div class="link centered">
                  <a href="/document_management_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/medical_records_review_module" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/tcX6BNH5AlCWY3K/icon_help_desk1.png" alt="Holistic Approach">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>Medical Records Review</h4>

                  <p>Intelligence coding solutions, securing your right reimbursements</p>
                </div>


                <div class="link centered">
                  <a href="/medical_records_review_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 dark_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button">

              <div class="figure transparent">


                <a href="/technology_module" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/c5C6DBnSjSgP0Z9/strive-dna.png" alt="Success Stories">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup">
                  <h4>IT Support / Software Development Services</h4>

                  <p>Perfect Solutions for your IT Needs</p>
                </div>


                <div class="link centered">
                  <a href="/technology_module" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button ">

              <div class="figure transparent">


                <a href="/other_services" title="" target="">


                  <img src="https://s3.amazonaws.com/uploads.hipchat.com/338421/2054070/N0GM9HU39olSptd/cart.png" alt="Request an appointment">


                </a>

              </div>


              <div class="content text-center   with_button ">

                <div class="hgroup"><br><br>
                  <h4>Other Services</h4>

                  <p>Best customized solutions</p>
                </div>


                <div class="link centered">
                  <a href="/other_services" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>

              </div>

            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid no_top_padding separator_bottom sep_angled_positive_bottom">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-left">

              <h2>HQ Analytics Healthcare Outsourcing Solutions</h2>


              <p>Improve your Practices Bottom Line</p>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-12 col-md-8 margin_bottom_grid text-left">
          <div class="wpb_wrapper">

            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>
                  HQ Analytics is the leading provider of HealthCare Management services to the Solo Practitioners,
                  Group practices, Hospitals and other Healthcare services Providers. We completely understand the
                  importance of your business so bring the best resolutions with sophisticated reporting mechanism for
                  transparency of your business and financials. HQ Analytics offers intelligent portfolio of high
                  quality Revenue Cycle Management, HealthCare Analytics Management and IT development solutions. Our
                  services can assist you to meet the oncoming advancements. HQ Analytics has a great team of Doctors,
                  IT experts, HIM professionals, Financial Experts, Customer Support executive and other professionals
                  with outstanding expertise which enables us to produce quality services with great customer
                  satisfaction.</p>

              </div>
            </div>
            <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text">
              <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
              <h4>Our Philosophy</h4>
              <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
            </div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>HQ Analytics is committed to provide the finest services to the healthcare sector by offering key
                  solutions nationwide. We provide maximum level of quality with least amount of variance. We believe
                  that by having our services you can constantly grow your work and keep your self ahead in the
                  healthcare industry. Our focus is quality and client satisfaction with decreasing health care costs.
                  When the health care cost rise patients have to pay more out of their pockets. We help you to reduce
                  your healthcare costs so you help your patients to pay as much less they can.</p>
              </div>
            </div>
            <div class="plethora_button wpb_content_element  text-left ">
              <a href="/all_services" class="btn btn-primary  " title="" target="_self">
                CheckOut Our Services
              </a>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-6 col-md-4 text-left">
          <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->

            <div class="teaser_box wpb_content_element text-center  skincolored_section    with_button ">
              <div class="figure ">
                <a href="/faqs" title="" target="">
                  <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('http://www.jumpstartb2b.com/wp-content/uploads/2015/03/How-We-Work.jpg')"></div>
                </a>
              </div>
              <div class="content text-center boxed  with_button ">
                <div class="hgroup">
                  <h4>How do we work?</h4>

                  <p>...and other frequently asked questions</p>
                </div>
                <div class="link centered">
                  <a href="/faqs" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                </div>
              </div>
            </div>

            <!-- END======================= TEASER BOX ==========================-->

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid secondary_section">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12 col-lg-8 margin_bottom_grid text-left">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-left">

              <h2>Let&#8217;s work in a different way&#8230;</h2>


              <p>We like to personalize our services to every single, different and unique client's needs</p>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
                  <!-- ========================== TEASER BOX ==========================-->

                  <div class="teaser_box wpb_content_element text-center  transparent    with_button ">
                    <div class="figure transparent">
                      <a href="#" title="" target="">
                        <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('http://powerliens.com/public/images/man_icon.png')"></div>
                      </a>
                    </div>
                    <div class="content text-center boxed_special  with_button ">
                      <div class="hgroup">
                        <h4>Dedicated Account Manager</h4>

                        <p>Every Client Is Important</p>
                      </div>
                      <div class="link centered">
                        <a href="#" class="btn btn-xs btn-primary"><strong>More</strong></a>
                      </div>
                    </div>
                  </div>

                  <!-- END======================= TEASER BOX ==========================-->

                </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
                  <!-- ========================== TEASER BOX ==========================-->

                  <div class="teaser_box wpb_content_element text-center  transparent    with_button ">

                    <div class="figure transparent">


                      <a href="#" title="" target="">


                        <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/distributor-report-icon.png')"></div>


                      </a>

                    </div>


                    <div class="content text-center boxed_special  with_button ">

                      <div class="hgroup">
                        <h4>Customized Patient Reports</h4>

                        <p>Meaningful Data Collection</p>
                      </div>


                      <div class="link centered">
                        <a href="#" class="btn btn-xs btn-primary"><strong>More</strong></a>
                      </div>

                    </div>

                  </div>

                  <!-- END======================= TEASER BOX ==========================-->

                </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
                  <!-- ========================== TEASER BOX ==========================-->

                  <div class="teaser_box wpb_content_element text-center  transparent    with_button ">

                    <div class="figure transparent">


                      <a href="#" title="" target="">


                        <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('http://dazpro.com.au/sites/default/files/f-time.png')"></div>


                      </a>

                    </div>


                    <div class="content text-center boxed_special  with_button ">

                      <div class="hgroup">
                        <h4>Fast TAT</h4>

                        <p>Less Time More Accuracy</p>
                      </div>


                      <div class="link centered">
                        <a href="#" class="btn btn-xs btn-primary"><strong>More</strong></a>
                      </div>

                    </div>

                  </div>

                  <!-- END======================= TEASER BOX ==========================-->

                </div>
              </div>
            </div>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>Personalized services for clients is what set HQ Analytics apart. When you experience any of our
                  above mentioned custom-made services you can expect to receive outclass quality. Our expert
                  specialists provide you...</p>

              </div>
            </div>
            <div class="plethora_button wpb_content_element  text-left ">
              <a href="/all_services" class="btn btn-primary  " title="" target="_self">


                Checkout Our Services


              </a>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-12 col-lg-4 secondary_section transparent_film boxed_plus text-left">
          <div class="wpb_wrapper">
            <h3 class="col_header text-left">Request an Demo!</h3><br><br>

            <div role="form" class="wpcf7" id="wpcf7-f100-p107-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="http://plethorathemes.com/healthflex/health-coach/#wpcf7-f100-p107-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="100"/>
                  <input type="hidden" name="_wpcf7_version" value="4.3.1"/>
                  <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f100-p107-o1"/>
                  <input type="hidden" name="_wpnonce" value="543b09b511"/>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Full Name"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap telephone"><input type="text" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Phone Number"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email email" aria-required="true" aria-invalid="false" placeholder="Email"/></span>
                  </div>
                  <div class="col-sm-12">
                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control message" aria-invalid="false" placeholder="Message"></textarea></span>
                  </div>
                  <div class="col-sm-12">
                    <input type="submit" value="Request Demo!" class="wpcf7-form-control wpcf7-submit btn btn-primary"/>
                  </div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-left">

              <h2>OUR PRODUCTS</h2>


              <p>Presenting perfect solutions for your practice needs</p>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-6 col-md-4 text-center">
          <div class="wpb_wrapper">
            <div class="pricing_plan white_section">


              <div class="stretchy_wrapper ratio_2-1">
                <div style="background-image:url('http://www.precheck.com/sites/default/files/imagecache/552x300_sc/How-Physician-Background-Screening-and---Credentialing-Work-Together-in-Medical-Staff--Services.png');" class="pricing_plan_photo"></div>

              </div>


              <div class="plan_title secondary_section">
                <h3>CREDENTIALING APP</h3>

                <p>Taking Off Hassle From Your Plate</p>
              </div>
              <!--<div class="the_price skincolored_section">$0.0<small></small></div>-->
              <div class="the_offerings ">
                Web-Based Accessibility<br/>
                Reminders for Pending Applications<br/>
                Alarm for Incoming Applications<br/>
                Extensive & Customized Reports<br/>


                <div class="row">
                  <div class="col-sm-6">

                    <a href="/cred" class="btn btn-secondary   with-icon icon-right " title="" target="_self" style="background-color: #E07000">

                      Explore

                      <i class="fa fa-caret-right" style="background-color: #A35200"  ></i>

                    </a>
                  </div>

                  <div class="col-sm-6">
                    <a href="/contact_us" class="btn btn-primary with-icon icon-right" title="" target="_self">

                      DEMO

                      <i class="fa fa-caret-right"></i>

                    </a>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-6 col-md-4 text-center">
          <div class="wpb_wrapper">
            <div class="pricing_plan white_section">


              <div class="stretchy_wrapper ratio_2-1">
                <div style="background-image:url('https://www.optum.com/content/dam/optum/CMOSparkHub/Topics/CMO_Infographic_PatientRegistries.jpg');" class="pricing_plan_photo"></div>
                <div class="heart beating">
                  <div class="heart-inner">
                    <div class="heart-label"></div>
                  </div>
                </div>
              </div>


              <div class="plan_title secondary_section">
                <h3>HEDIS<br> SOLUTION</h3>

                <p>Calculating HealthCare Quality Incentives</p>
              </div>
              <!--<div class="the_price skincolored_section">$0.0<small>/week</small></div>-->
              <div class="the_offerings ">
                Track for Care Gap Measures<br/>
                Internal Report Card<br/>
                Closed Loop Referal System<br/>
                Patient Reminders<br/>
                <br/>


                <div class="row">
                  <div class="col-sm-6">

                    <a href="/hedis" class="btn btn-secondary   with-icon icon-right " title="" target="_self" style="background-color: #E07000">

                      Explore

                      <i class="fa fa-caret-right" style="background-color: #A35200"  ></i>

                    </a>
                  </div>

                  <div class="col-sm-6">
                    <a href="/contact_us" class="btn btn-primary with-icon icon-right" title="" target="_self">

                      DEMO

                      <i class="fa fa-caret-right"></i>

                    </a>

                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-6 col-md-4 text-center">
          <div class="wpb_wrapper">
            <div class="pricing_plan white_section">
              <div class="stretchy_wrapper ratio_2-1">
                <div style="background-image:url('http://healthagen-cms.s3.amazonaws.com/HGN_Blog_TripleAim_Feature_lg.jpg');" class="pricing_plan_photo"></div>
              </div>
              <div class="plan_title secondary_section">
                <h3>Population Management Suite</h3>

                <p>Improving Care And Population Health</p>
              </div>
              <!--<div class="the_price skincolored_section">$0.0<small>/month</small></div>-->
              <div class="the_offerings ">
                Panel Management<br/>
                Members Retention Services<br/>
                HEDIS Management<br/>
                Physician Reminders<br/>

                <div class="row">
                  <div class="col-sm-6">

                    <a href="/may" class="btn btn-secondary   with-icon icon-right " title="" target="_self" style="background-color: #E07000">

                      Explore

                      <i class="fa fa-caret-right" style="background-color: #A35200"  ></i>

                    </a>
                  </div>

                  <div class="col-sm-6">
                    <a href="/contact_us" class="btn btn-primary with-icon icon-right" title="" target="_self">

                      DEMO

                      <i class="fa fa-caret-right"></i>

                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="background-image: url('http://plethorathemes.com/healthflex/wp-content/uploads/2013/06/doctor_blue_left.jpg')" class="vc_row wpb_row vc_row-fluid black_section text-center transparent_film vcenter bgimage parallax-window bg_vcenter">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12 text-center">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-center">
              <h2>Need to connect with us!
              </h2>

              <p>Call Now 212-470-1500 and let us craft a plan together</p>
            </div>
            <div class="plethora_button wpb_content_element  text-center ">
              <a href="/contact_us" class="btn btn-primary with-icon " title="" target="_self">
                Request a Demo
                <i class="fa fa-check"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="new_comment">
    <div class="container">
      <div class="new_comment">
      </div>
    </div>
  </div>
  <!--    << END ========================= MAIN COLUMN ========================  -->
  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<!--    END ========================= MAIN WRAPPER FINISH ========================  -->
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p>HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span> (212) 470-1500</span></p>
            <p class='contact_detail'><i class='fa fa-fax'></i><span> (718) 427-9907</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@hqanalytics.net'> info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>

          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/eating-donut.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html">HQ Analytics Medical Billing
                    News</a>
                  <small>May 15</small>
                </h5>
                <p>Sed in felis velit. Quisque porta turpis vel leo accumsan...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/weight-loss-fitness/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/success-story-person.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/weight-loss-fitness/index.html">HQ Analytics Medical credentialing blog</a>
                  <small>May 13</small>
                </h5>
                <p>It's a familiar story: You pledge to honor a daily...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/mussels-marinara-di-amore/index.html" class="media-photo" style="background-image:url(' http://i1.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/Mussels-Marinara-di-Amore.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/mussels-marinara-di-amore/index.html">HQ Analytics new IT services with
                    Networking</a>
                  <small>May 12</small>
                </h5>
                <p>INGREDIENTS For the Greek Vinaigrette 1 clove garlic 3 tablespoons...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
        h._hjSettings = {hjid: 84643, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78363625-1', 'auto');
    ga('send', 'pageview');

</script>



<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptchaEmpty": "Please verify that you are not a robot.",
        "sending": "Sending ...",
        "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var themeConfig = {
        "NEWSLETTERS": {
            "messages": {
                "successMessage": "SUCCESS",
                "errorMessage": "ERROR",
                "required": "This field is required.",
                "remote": "Please fix this field.",
                "url": "Please enter a valid URL.",
                "date": "Please enter a valid date.",
                "dateISO": "Please enter a valid date ( ISO ).",
                "number": "Please enter a valid number.",
                "digits": "Please enter only digits.",
                "creditcard": "Please enter a valid credit card number.",
                "equalTo": "Please enter the same value again.",
                "name": "Please specify your name",
                "email": {
                    "required": "We need your email address to contact you",
                    "email": "Your email address must be in the format of name@domain.com"
                }
            }
        },
        "PARTICLES": {
            "enable": true,
            "color": "#bcbcbc",
            "opacity": 0.8,
            "bgColor": "transparent",
            "bgColorDark": "transparent",
            "colorParallax": "#4D83C9",
            "bgColorParallax": "transparent"
        },
        "GENERAL": {"onePagerScrollSpeed": 300}
    };
    /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
    $(document).ready(function () {
        jQuery(function ($) {
            "use strict";
            var $owl = $("#head_panel_slider");
            $owl.owlCarousel({
                items: 1,
                autoplay: _p.checkBool(1),
                autoplayTimeout: 3000,
                autoplaySpeed: 4000,
                autoplayHoverPause: _p.checkBool(1),
                nav: _p.checkBool(1),
                dots: _p.checkBool(1),
                loop: _p.checkBool(1),
                mousedrag: _p.checkBool(1),
                touchdrag: _p.checkBool(1),
                lazyload: _p.checkBool(1),
                rtl: _p.checkBool(),
            });
            var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
            $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
            $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            $owl.on("translated.owl.carousel", function (event) {
                $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
                $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            })
        });
    });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->