<div class="brand-colors"> </div>
<div class="head_panel">
  <div style="background-image: url(http://i0.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/slider_3.jpg?fit=1050%2C725)" class="full_width_photo   ">
    <div class="hgroup">
      <div class="title  skincolored_section transparent_film text-left">
        <div class="container">
          <h1>Our Products</h1>
        </div>
      </div>
      <div class="subtitle  secondary_section transparent_film text-left">
        <div class="container">
          <p>Presenting perfect solutions for your practice needs</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--    ========================= MAIN WRAPPER START ========================  -->
<span class="progress_ball"><i class="fa fa-refresh"></i></span>

<div class="loader-modal"></div>
<div id="loader" data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z" class="pageload-overlay">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 80 60" preserveaspectratio="none">
    <path d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z"></path>
  </svg>
</div><div class="main foo" data-colorset="foo">
  <!--    >> START ========================= CONTENT AREA ========================  -->

  <!--   START >> ========================= MAIN COLUMN ========================  -->
  <section class="vc_row wpb_row vc_row-fluid text-center separator_bottom sep_angled_positive_bottom vc_custom_1457517780479">
    <div class="container">
      <div class="section_header subtitle_bottom   fancy text-center">

        <h3 style="text-align: center;">Our Products</h3>


        <p>We are in the industry where needs for a paperless solution is increasing day by day. Clients come to us to help them tackle their most important projects. Our team with their wide experience offers healthcare IT solutions that help our clients gain maximum returns on their IT investment.</p>
      </div>
      <div class="row">

        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div class="team_members_grid row">


              <div class="col-sm-6 col-md-4">
                <div class="team_member teaser_box centered same_height_col ">

                  <a href="/may" style="background-image: url('http://www.carestarhealth.com/images/tree.jpg')" data-colorset="" class="linkify figure stretchy_wrapper ratio_1-1"></a>

                  <div class="content boxed  with_button ">

                    <div class="hgroup">
                      <h4>POPULATION MANAGEMENT SUITE</h4><br>
                      <p>A Comprehensive Solution For Improving Care And Population Health</p>
                    </div>

                    <div class="team_social">
                    </div>

                    <div class="desc">
                      <p></p>
                    </div>

                    <div class="link">
                      <a href="/may" data-colorset="" class="linkify btn btn-xs btn-default">Explore</a>
                    </div>

                  </div>

                </div>
              </div>


              <div class="col-sm-6 col-md-4">
                <div class="team_member teaser_box centered same_height_col ">

                  <a href="/hedis" style="background-image: url('http://www.advantmed.com/images/HEDIS.jpg')" data-colorset="" class="linkify figure stretchy_wrapper ratio_1-1"></a>

                  <div class="content boxed  with_button ">

                    <div class="hgroup">
                      <h4>HEDIS SOLUTION</h4><br>
                      <p>Troubleshoot quality measures and your incentives</p>
                    </div>

                    <div class="team_social">
                    </div>

                    <div class="desc">
                      <p></p>
                    </div>

                    <div class="link">
                      <a href="/hedis" data-colorset="" class="linkify btn btn-xs btn-default">Explore</a>
                    </div>

                  </div>

                </div>
              </div>


              <div class="col-sm-6 col-md-4">
                <div class="team_member teaser_box centered same_height_col ">

                  <a href="/cred" style="background-image: url('http://www.appliedmedicalsystems.com/wp-content/uploads/2013/09/medical-credentialing.jpg')" data-colorset="" class="linkify figure stretchy_wrapper ratio_1-1"></a>

                  <div class="content boxed  with_button ">

                    <div class="hgroup">
                      <h4>CREDENTIALING SOFTWARE APP</h4><br>
                      <p>Smart analytical solutions for innovative practices</p>
                    </div>

                    <div class="team_social">
                    </div>

                    <div class="desc">
                      <p></p>
                    </div>

                    <div class="link">
                      <a href="/cred" data-colorset="" class="linkify btn btn-xs btn-default">Explore</a>
                    </div>

                  </div>

                </div>
              </div>

            </div><div class="vc_empty_space"  style="height: 32px" ><span class="vc_empty_space_inner"></span></div>

            <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-8 col-sm-offset-2">
            <div class="wpb_wrapper">
              <!-- ========================== TESTIMONIALS ==========================-->

              <!--<div class="testimonial testimonial-slider">-->
                <!--<ul class="slides" id="56e7ea9d8b904">-->
                  <!--<li>-->
                    <!--“Not only is Lisa an amazing cook/nutritionist with great ideas who I learned SO much from, but my one-on-one meetings with her where we would just ‘chat over tea’ were most inspirational.  I always left with a sense of confidence that I could do, or cook, anything!”-->
                    <!--<div class="name">-->
                      <!--<strong>Emily</strong>-->

                    <!--</div>-->

                  <!--</li>-->
                  <!--<li>-->
                    <!--“I really like that it wasn’t about telling me what I should or had to do or when or how to do it, but more about providing all kinds of information to help me make the best decisions for me”-->
                    <!--<div class="name">-->
                      <!--<strong>Wendy</strong>-->

                    <!--</div>-->

                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->

              <!-- END======================= TESTIMONIALS ==========================-->

            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid secondary_section particles-js">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div class="section_header subtitle_bottom   fancy text-center">

              <h2>Because you’re a doctor, not a billing expert.</h2>


              <p>Learn how our team of professionals give you the freedom to focus on care.</p>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-8 col-sm-offset-2 secondary_section transparent_film boxed_plus text-center">
          <div class="wpb_wrapper">
            <div role="form" class="wpcf7" id="wpcf7-f100-p114-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="http://plethorathemes.com/healthflex/health-coach/success-stories/#wpcf7-f100-p114-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="100" />
                  <input type="hidden" name="_wpcf7_version" value="4.3.1" />
                  <input type="hidden" name="_wpcf7_locale" value="en_US" />
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f100-p114-o1" />
                  <input type="hidden" name="_wpnonce" value="543b09b511" />
                </div>
                <div class="row">
                  <div class="col-sm-12"><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></div>
                  <div class="col-sm-12"><span class="wpcf7-form-control-wrap telephone"><input type="text" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required name" aria-required="true" aria-invalid="false" placeholder="Phone Number" /></span></div>
                  <div class="col-sm-12"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email email" aria-required="true" aria-invalid="false" placeholder="Email" /></span></div>
                  <div class="col-sm-12"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control message" aria-invalid="false" placeholder="Message"></textarea></span></div>
                  <div class="col-sm-12"><input type="submit" value="Request an appoinment!" class="wpcf7-form-control wpcf7-submit btn btn-primary" /></div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="new_comment">
    <div class="container">        <div class="new_comment">
    </div>
    </div>
  </div>


  <!--    << END ========================= MAIN COLUMN ========================  -->

  <!--    << END ========================= CONTENT AREA ========================  -->
</div>
<footer class="sep_angled_positive_top separator_top ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6"><!-- ========================== WIDGET ABOUT US ==========================-->
        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
          <div class="pl_about_us_widget">
            <p><img src='/assets/wp-content/uploads/sites/3/2016/02/healthcoach_logo_white_retina_h50.png' alt='logo'>
            </p>

            <p> HQ Analytics is the leading provider of HealthCare Management Services to the Solo Practitioners, Group
              Practices, Hospitals and other Healthcare Services Providers.</p>

            <p>Let’s join HQ Analytics to experience the ideal services for your HealthCare Management needs!!</p>

            <p class='contact_detail'><i class='fa fa-phone'></i><span>212-470-1500</span></p>

            <p class='contact_detail'>
              <i class='fa fa-envelope'></i><span><a href='mailto:info@healthcoach.com'>info@hqanalytics.net</a></span>
            </p>

            <p class="contact_detail">
              <i class='fa fa-location-arrow'></i>
              <span>601 West 138th Street, New York, NY 10031.</span>
            </p>

            <p class="social">
              <a href='https://twitter.com/HqAnalytics' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
              <a href='https://www.facebook.com/HQ-Analytics-646478368761519/' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
              <a href='https://plus.google.com/114465560964725977948' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
              <a href='https://www.linkedin.com/company/hq-analytics?trk=nav_account_sub_nav_company_admin' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
              <a href="mailto:info@hqanalytics.net?Subject=Query" target="_top" title="Send Us An Email"><i class='fa fa-envelope'></i></a>
            </p>
          </div>
        </aside>
        <!-- END======================= WIDGET ABOUT US ==========================-->
      </div>
      <div class="col-sm-6 col-md-3">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h4>Quick Links</h4>

          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-107 current_page_item menu-item-490">
                <a href="/about">About</a></li>
              <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                <a href="/all_services">Services</a></li>
              <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                <a href="/faqs">Frequently asked questions</a></li>
              <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                <a href="/contact_us">Connect</a></li>
              <li id="menu-item-489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-489">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-483">
                    <a href="/billing_module">Medical Billing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/credentialing_module">Credentialing</a></li>
                  <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484">
                    <a href="/technology_module">IT Services</a></li>
                </ul>
              </li>
              <li id="menu-item-488" class="btn btn-sm btn-secondary menu-item menu-item-type-custom menu-item-object-custom menu-item-488">
                <a href="/contact_us">Request Demo!</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-sm-6 col-md-3"> <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
        <aside id="plethora-latestnews-widget-2" class="widget latestnews-widget">
          <div class="pl_latest_news_widget">
            <h4>Latest Articles </h4>
            <ul class="media-list">
              <li class="media">
                <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/eating-donut.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/how-to-deal-with-emotional-eating/index.html">HQ Analytics Medical Billing
                    News</a>
                  <small>May 15</small>
                </h5>
                <p>Sed in felis velit. Quisque porta turpis vel leo accumsan...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/weight-loss-fitness/index.html" class="media-photo" style="background-image:url(' http://i2.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/02/success-story-person.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/weight-loss-fitness/index.html">HQ Analytics Medical credentialing blog</a>
                  <small>May 13</small>
                </h5>
                <p>It's a familiar story: You pledge to honor a daily...</p>
              </li>
              <li class="media">
                <a href="2016/03/01/mussels-marinara-di-amore/index.html" class="media-photo" style="background-image:url(' http://i1.wp.com/plethorathemes.com/healthflex/health-coach/wp-content/uploads/sites/3/2016/03/Mussels-Marinara-di-Amore.jpg?resize=150%2C150')"></a>
                <h5 class="media-heading">
                  <a href="2016/03/01/mussels-marinara-di-amore/index.html">HQ Analytics new IT services with
                    Networking</a>
                  <small>May 12</small>
                </h5>
                <p>INGREDIENTS For the Greek Vinaigrette 1 clove garlic 3 tablespoons...</p>
              </li>
            </ul>
          </div>
        </aside>
        <!-- END================== LATEST NEWS: MUSTACHE ========================--></div>
    </div>
  </div>
</footer>
<div class="copyright dark_section">
  <div class="dark_section transparent_film">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          HQ ANALYTICS Copyright &copy;2016 all rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--    END ========================= OVERFLOW WRAPPER FINISH ========================  -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script type='text/javascript'>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
        h._hjSettings = {hjid: 84643, hjsv: 5};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');                </script>
<script type='text/javascript'>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-55444186-5', 'auto');
    ga('send', 'pageview');
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/plethorathemes.com\/healthflex\/health-coach\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "recaptchaEmpty": "Please verify that you are not a robot.",
        "sending": "Sending ...",
        "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201617'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var themeConfig = {
        "NEWSLETTERS": {
            "messages": {
                "successMessage": "SUCCESS",
                "errorMessage": "ERROR",
                "required": "This field is required.",
                "remote": "Please fix this field.",
                "url": "Please enter a valid URL.",
                "date": "Please enter a valid date.",
                "dateISO": "Please enter a valid date ( ISO ).",
                "number": "Please enter a valid number.",
                "digits": "Please enter only digits.",
                "creditcard": "Please enter a valid credit card number.",
                "equalTo": "Please enter the same value again.",
                "name": "Please specify your name",
                "email": {
                    "required": "We need your email address to contact you",
                    "email": "Your email address must be in the format of name@domain.com"
                }
            }
        },
        "PARTICLES": {
            "enable": true,
            "color": "#bcbcbc",
            "opacity": 0.8,
            "bgColor": "transparent",
            "bgColorDark": "transparent",
            "colorParallax": "#4D83C9",
            "bgColorParallax": "transparent"
        },
        "GENERAL": {"onePagerScrollSpeed": 300}
    };
    /* ]]> */
</script>
<!-- TEMPLATE PART: /themes/healthflex/page.php -->
<script>
    $(document).ready(function () {
        jQuery(function ($) {
            "use strict";
            var $owl = $("#head_panel_slider");
            $owl.owlCarousel({
                items: 1,
                autoplay: _p.checkBool(1),
                autoplayTimeout: 3000,
                autoplaySpeed: 4000,
                autoplayHoverPause: _p.checkBool(1),
                nav: _p.checkBool(1),
                dots: _p.checkBool(1),
                loop: _p.checkBool(1),
                mousedrag: _p.checkBool(1),
                touchdrag: _p.checkBool(1),
                lazyload: _p.checkBool(1),
                rtl: _p.checkBool(),
            });
            var $headPanelSliderOwlCarousel = $("#head_panel_slider.owl-carousel");
            $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
            $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            $owl.on("translated.owl.carousel", function (event) {
                $headPanelSliderOwlCarousel.find(".item .container .caption .inner").addClass("hide pause_animation");
                $headPanelSliderOwlCarousel.find(".active .item .container .caption .inner").removeClass("hide pause_animation");
            })
        });
    });
</script>
</body>
<!-- Mirrored from plethorathemes.com/healthflex/health-coach/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Apr 2016 19:29:15 GMT -->
</html>
<!-- Dynamic page generated in 1.509 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2016-04-25 19:23:22 -->

<!-- Compression = gzip -->