<!DOCTYPE html>
<html>
<head>
  <title>HealthCoach</title>


  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<%= yield %>
<%= stylesheet_link_tag    'main' %>
<%= javascript_include_tag 'main'%>

</body>
</html>
